body {
  .v {
    &-application {
      height: 100dvh;

      &__wrap {
        height: inherit;
        min-height: inherit;
        padding: 24px;

        @media(max-width: 479px) {
          padding: 18px;
        }
      }
    }

    &-container {
      @media(max-width: 1279px) and (min-width: 600px) {
        width: 560px;
      }

      @media (min-width: 1920px) {
        max-width: 1600px;
      }

      @media (min-width: 2560px) {
        max-width: 1600px;
      }
    }

    &-card {
      &--rounded {
        border-radius: 24px !important;
      }

      &-title,
      &-subtitle,
      &-text {
        padding: 20px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &-img {
      pointer-events: none;
    }
  }

  .text {
    &-h1,
    &-h2,
    &-h3,
    &-h4,
    &-h5,
    &-h6 {
      color: #222;
    }

    &-h3 {
      font-family: "Quicksand", serif !important;
      font-size: 33px !important;

      @media(max-width: 599px) {
        font-size: 25px !important;
      }
    }

    &-h4 {
      font-family: "Bebas Neue", serif !important;
      font-size: 33px;
    }

    &-h6 {
      font-family: "Quicksand", serif !important;
      font-size: 18px !important;
      font-weight: 600;
      text-transform: uppercase !important;
    }
  }

}