swiper-container {
  --swiper-pagination-color: #666;
  --swiper-pagination-bullet-border-radius: 6px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 5px;
  --swiper-pagination-bullet-inactive-color: #242424;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-top: 8px;
  --swiper-pagination-bottom: auto;
}

swiper-container::part(container) {
  padding: 0 8px;
  max-width: calc(100vw - 14px);
}