body {
  .v {
    &-container {
      @media(max-width: 1279px) and (min-width: 600px) {
        width: 560px;
      }

      @media (min-width: 1920px) {
        max-width: 1600px;
      }

      @media (min-width: 2560px) {
        max-width: 1600px;
      }
    }

    &-snackbar {
      margin-bottom: 16px;

      * {
        text-align: center;
        font-size: 16px !important;
      }
    }

    &-card {
      &--rounded {
        border-radius: 24px !important;

        &-top {
          border-radius: 24px 24px 0 0 !important;
        }
      }

      &-title,
      &-subtitle,
      &-text {
        padding: 20px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &-img {
      pointer-events: none;
    }

    &-btn {
      &:focus-visible::after {
        opacity: 0;
      }
    }
  }

  .text {
    &-subtitle-1,
    &-subtitle-2 {
      font-family: inherit;
    }
    &-subtitle-1 {
      font-size: 17px !important;
    }
    &-subtitle-2 {
      font-size: 15px !important;
    }

    &-h1,
    &-h2,
    &-h3,
    &-h4,
    &-h5,
    &-h6 {
      color: #222;
    }

    &-h3 {
      font-family: "Quicksand", serif !important;
      font-size: 33px !important;

      @media(max-width: 599px) {
        font-size: 25px !important;
      }
    }

    &-h4 {
      font-family: "Bebas Neue", serif !important;
      font-size: 50px !important;
    }

    &-h6 {
      font-family: "Quicksand", serif !important;
      font-size: 18px !important;
      font-weight: 600;
      text-transform: uppercase !important;
    }
  }

}