@use "./partials/fonts";
@use "./partials/swiper";
@use "./partials/vuetify";

:root {
  --dx-toolbar-height: 4.5rem;
}

::selection {
  background: #222;
  color: #eee;
}

html {
  &.dx-no-overflow {
    overflow: hidden;
  }
}

html, body {
  padding: 0;
  margin: 0;
  background: rgb(var(--v-theme-background));
  user-select: none;
  color-scheme: dark;
}

body {
  position: relative;
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  color: #4a4a4a;
  letter-spacing: -0.1px;

  @media(max-width: 767px) {
    font-size: 1.1rem;
  }
}

iframe {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

video {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar-invisible {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-pointer-events {
  pointer-events: none;
}