@import "./partials/fonts";
@import "./partials/vuetify";

::selection {
  background: #222;
  color: #eee;
}

html, body {
  padding: 0;
  margin: 0;
  background: rgb(var(--v-theme-background));
  user-select: none;
  color-scheme: dark;
}

html {
  overflow: hidden !important;
}

body {
  position: relative;
  font-family: "Quicksand", serif;
  font-size: 18px;
  color: #4a4a4a;
}

iframe {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}

@media
only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)
{
  .dx-section {
    zoom: 1.20;
  }
}